h1, h2, h3, h4, h5, h6,
.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: $font-family-display;
}

a:not(.btn):hover {
  text-decoration: underline;
}

.site-branding {
  max-width: 150px;
  float: left;
  padding-left: 0;
}

#block-handy-sitename   {
  max-width: 75%;
  display: inline-flex;
  align-items: center;
  padding: 0;
  height: 100%;
}

.navbar.navbar-bg-dark {
  background: $blue;
}

.row.region.region-branding {
  display: block;
}

h1.slogan {
  font-size: 2rem;
}

.swiper-fullscreen {
  max-height: 400px;
  .swiper:not(.swiper-thumbs) {
    .swiper-slide {
      max-height: 400px;
    }
  }
}
.view-event-summary-carousel.view-display-id-block_6 {
  .swiper-slide {
    flex-basis: 33%;
  }
  .post-header {
    line-height: 26px;
    padding-top: 15px;
  }
}


.slide-content-wrapper {
  display: flex;
  max-width: 300px;
  position: absolute;
  bottom: 50px;
  left: 100px;
  min-height: 200px;
  padding: 20px;
}

.navbar-nav a:hover {
  text-decoration: none;
}

.navbar-dark .nav-link {
  color: $white;
  font-size: 17px;
  font-weight: normal;
}

#block-handy-mainnavigation {
 a.nav-link {
   position: relative;
   margin-right: var(--bs-navbar-nav-link-padding-x);
   margin-left: var(--bs-navbar-nav-link-padding-x);
   padding-left: 0;
   padding-right: 0;
   &:hover {
     text-decoration: none;
   }
   &:after {
     display: block;
     content: '';
     border-bottom: solid 4px #fff;
     transform: scaleX(0);
     transition: transform 250ms ease-in-out;
     position: absolute;
     bottom: 20px;
     width: 100%;
   }

   &:hover:after, &.is-active:after {
     transform: scaleX(1);
     border-bottom: solid 4px #fff !important;
   }

   &.dropdown-toggle:after {
     border:none;
   }
 }
  .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    background: $blue;

    .dropdown-item {
      color: $white !important;

      &:hover {
        background: $navy;
        text-decoration: none;
      }
    }
  }
}

#block-handy-mainnavigation-2 {
  background-color: $primary;
  padding: 15px;
  margin-top: 50px;
  h2 {
    color: $white;
    font-size: 1rem;
    margin-bottom: 0;
  }

  ul {
    color: $white;

    .nav-item {
      padding-left: 20px;

      &:hover {
        background: $blue;
        text-decoration: none;
      }
    }

    .nav-link {
      padding: 0;
    }
  }
}

footer {
  background: $light-blue;
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, div, a, li {
    color: $white;
  }

  #block-handy-quicklinks-3 {
    .nav-link {
      padding: 0;
      font-weight: normal;
      color: $white;
    }
  }

  .footer-regions {
    .region {
      .block-title,
      #block-handy-quicklinks-3-menu{
        font-size: 0.95rem;
      }
    }
  }

  a {
    text-decoration: underline;
  }

  .social{
    a {
      text-decoration: none;

      i{
        font-size: 1.25rem;
        &:before {
          color: $white;
        }
      }
    }
  }

  .copyright {
    background: $blue;
    height: 50px;
    width: 100%;
  }


  #block-handy-donate {
    margin-top: 20px;
  }
}

.lead {
  margin-top: 55px;
}

.swiper-news {
  .swiper-controls .swiper-navigation .swiper-button.swiper-button-prev {
    left: -3rem;
  }
  .swiper-controls .swiper-navigation .swiper-button.swiper-button-next {
    right: -3rem;
  }
}

.breadcrumb-item + .breadcrumb-item {
  color: $white;
}

.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item + .breadcrumb-item::after {
  color: $white;
}
